.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.whiteSection{
    width: 100%;
    background-color: white;
    border-radius: 0 0 4rem 4rem ;
    height: 36rem;
}
.kadoImg{
    width: 13rem;
}
.title{
    font-size: .8rem;
    margin: 2rem 0 2rem 0;
}
.Input{
    width: 15rem;
    background-color: #f3f3f3;
    text-align: start !important;
    background-color: #f3f3f3 ;
    border-radius: 1rem;
}
.Input:focus{
    outline:none;
}
.Input2{
    background-color: #f3f3f3;
    width: 12rem;
    border-radius: 1rem;
    text-align: end !important;
    margin-right: .4rem;
}
.Input2:focus{
    outline:none;
}
.button{
    width: 2.7rem;
    height: 2.8rem;
    border-radius: 1rem;
    background-color: var(--babyPurple);
    border: none;
    box-shadow: 0px 5px 1px 0px #7f5df1;
    transition: all .1s;
}
.button:active{
    box-shadow: 0 2px #7f5df1;
    transform: translateY(4px);
}
.parentInput{
    margin: 1rem;
    width: 15rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.name{
    font-size: .6rem;
    margin: 2rem 0 2rem 0;
    color:#b7b7b7;
}
.Button{
    width: 13rem;
    height: 3rem;
    background-color: #f3f3f3;
    box-shadow: 0px 7px 4px gainsboro;
    margin-top: -1.5rem;
    color: darkgray;
}
.Button:active{
    box-shadow: 0 2px gainsboro;
    transform: translateY(4px);
}
.Telephone {
    width: 1.3rem;
    margin-top: 0.6rem;
}