.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.whiteSection{
    width: 100%;
    background-color: white;
    border-radius: 0 0 4rem 4rem ;
    height: 36rem;
}
.kadoImg{
    width: 13rem;
}
.title{
    font-size: .8rem;
    margin: 2rem 0 2rem 0;
}
.Input{
    background-color: #f3f3f3;

}
.Input:focus{
    outline:none;
}
.Input2{
    margin: .5rem 0 0 0;
    background-color: #f3f3f3;
    width: 10.5rem;
    padding: 0 .9rem;
}
.Input2:focus{
    outline:none;
}
.button{
    width: 3rem;
    height: 3rem;
    margin: .5rem 0 0 1.1rem;
    border-radius: 1rem;
    background-color: var(--babyPurple);
    border: none;
}
.parentInput{
    display: flex;
}
.name{
    font-size: .6rem;
    margin: 2rem 0 2rem 0;
    color: gainsboro;
}
.Button{
    width: 13rem;
    height: 3rem;
    background-color: #f3f3f3;
    box-shadow: 0px 7px 4px gainsboro;
    margin-top: -1.5rem;
    color: darkgray;
}
.Button:active{
    box-shadow: none;
}
.Telephone {
    width: 1.3rem;
    margin-top: 0.6rem;
}