.layout {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--babyBg);
}
.wrapperOutlet {
    width: 100%;
    padding-bottom: 6rem;
    overflow-y: auto;
}
