.body {
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapperWhite{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 18rem;
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    overflow-y: auto;
}
.User{
    z-index: 1;
    margin-top: .5rem;
    margin-bottom: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: #ffffff;
    border-radius: 50%;
    border: .3rem solid #f7e13d;
    outline: .2rem solid #d2b160;
}
.IconUser{
    width: 40%;
    height: 10rem;
}
.Picture{
    margin: 3.7rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: none;
}
.icon{
    border-radius: 1rem;
    padding: .2rem;
    margin-left: .5rem;
    background-color: #f3f3f3;
}
.Picture p{
    font-size: .6rem;
}
.name{
    margin-bottom: 1rem;
    width: 16rem;
    height: 2.5rem;
    background-color: #f3f3f3;
    border-radius: .5rem;
    border: none;
}
.name:focus{
    outline:none;
}
.parentjensiat{
    width: 90%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.parentjensiat Button{
    width: 7.5rem;
    height: 2.6rem;
    background-color: #f3f3f3;
    box-shadow: 0 4px #e5dfdf;
}
.parentjensiat Button:active {
    box-shadow: 0 2px #e5dfdf;
}