.Btn {
    background-color: #F3F3F3;
    border: none;
    border-radius: .7rem;
    width: 12rem;
    height: 12rem;
    margin-top: 3rem;
}

.inp {
    display: none;
}

.container {
    width: 44%;
    color: white;
    display: flex;
    justify-content: center;
}

.upload {
    height: 1rem;
    width: 1rem;
}