.body {
    width: 100%;
    padding: 0 0 2rem 0;
}

.section {
    width: 100vw;
    height: 30rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 3rem 3rem;
}


.container {
    width: 78%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 370px;
}

.uploadInp {
    display: none;
}

.uploadButton {
    width: 8rem;
    height: 15rem;
    background-color: #F2F2F2;
    color: #717171;
    border: none;
    border-radius: .7rem;
    font-size: .7rem;
    margin-top: 1.5rem;
}

.upload {
    width: .4rem;
}


.input {
    height: 2.7rem;
    width: 96%;
    font-size: .73rem;
    background-color: #F2F2F2;
    border: none;
    border-radius: .7rem;
    margin-top: 1.3rem;
    padding-right: 1rem;
}
.inputWrapper {
    width: 96%;
    margin-top: 1rem;
}

.linkput {
    text-align: right;
    font-size: .73rem;
    background-color: #F2F2F2;
}

.iconButton {
    width: 2.7rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    margin-left: 0!important;
    background-color: #9E7CF9;
    border: 0;
    box-shadow: 0 0.25rem #714FEE;
    top: 0;
}

.spanWrapper {
    width: 96%;
}

.span {
    font-size: .6rem;
    opacity: 40%;
    padding-right: 0!important;
}

.inspan {
    width: 2.7rem;
}

.counter {
    width: 96%;
    height: 2.8rem;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: .1rem #714FEE solid;
    border-radius: .8rem;
}

.btn {
    width: 2.7rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    color: #C6C6C6;
}

.inputValue {
    width: fit-content;
    height: fit-content;
    direction: ltr;
    color: black;
    border: none;
    font-size: .8rem;
    text-align: center;
}

.inputValue:focus {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9880F2;
}

.toman {
    font-size: .95rem;
    color: #6F4DED;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

.subcounter {
    font-size: .58rem;
    opacity: 40%;
    margin: 0 0 1rem 0;
}

.button {
    margin: 3rem 0 -.9rem 0;
    background-color: #FFD500;
    width: 15rem;
    height: 7rem;
}

