.body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.group{
    text-align: center;
    display: flex;
}
.container {
    width: 86%;
    max-width: 405px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.Button{
    width: 16rem;
    height: 3.5rem;
    background-color: white;
    box-shadow: none;
    border: 1px solid blueviolet;
    color: blueviolet;
}
.Button:active{
    box-shadow: none;
}
.menu{
    width: 2rem;
    height: 2rem;
}
.boxWrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.ServicesButton2{
    margin: 0;
    font-size: .9rem;
}