.input {
    margin-bottom: 1.56rem;
    width: 17rem;
}

.textBox2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    color: white;
    font-size: .66rem;
}

.goDetailsText {
    color: white;
    margin-top: 2rem;
    font-size: .66rem;
    text-underline-offset: .5rem;

}
.button {
    width: 17rem;
    height: 3rem;
}