.navMenu {
    width: 92%;
    margin: 0 auto;
    max-width: 390px;
    background-color: var(--babyPurple);
    height: 5rem;
    position: fixed;
    padding: 0 .2rem;
    bottom: 0;
    border-radius: 1.7rem 1.7rem 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .45rem;

}
.navMenu a {
    text-decoration: none;
}
.navLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 1.3rem;
}
.TextWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.activeNavLink {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.activeNavLink:before {
    content: '';
    position: absolute;
    bottom: 1rem;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 0.3);
    backdrop-filter: blur(3px);
    z-index: -1;
}

.activeNavLink:after {
    content: '';
    background-color: var(--babyYellow);
    border-radius: 50% 50% 0 0;
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    /*bottom: -100%;*/
    bottom: -2rem;
    z-index: -2;
}
.activeNavLink {

}

.activeNavLink p {
    color: #000;
}
.paddingIcon {
    padding-left: .3rem;
}