.Parent{
    display: flex;
}
.NavLink{
    text-decoration: none;
    width: 100%;
}
.Icon{
    padding: 0 0 0 1rem;
}
.Page{
    font-size: .6rem;
    color: white;
}
.ali{
    width: 100%;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: end;
}