.body{
    background-color: #f3f3f3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Continer{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputParent{
    width: 34%;
}
.Search{
    border-radius: .7rem;
    height: 2.5rem;
    margin: .3rem 0 .3rem 0;
}
.Search:focus{
    outline:none;
}
.Parentdata{
    width: 34%;
}