.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Continer{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Search{
    width: 34%;
    height: 3rem;
    margin: .5rem 0 .5rem 0;
}
.Parentdata{
    width: 34%;
}