
.boxes{
    background-color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 1rem 0 1rem;
}
.title {
    font-size: 1rem;
}

.subTitle{
    font-size: .4rem;
}
.textIconWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}