.body {
    width: 100%;
    height: 100vh;
    background-color: #714FEE;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
<<<<<<< Updated upstream
    height: 100vh;
=======
    width: 100%;
    height: 115vh;
>>>>>>> Stashed changes
    justify-content: center;
}
.User{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background-color: #ffffff;
    border-radius: 50%;
    border: .3rem solid #f7e13d;
    outline: .3rem solid #d2b160;
}
.IconUser{
    width: 40%;
    height: 10rem;
}
.UserName{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProfileParent{
    width: 4rem;
    height: .6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .1rem solid #f4d32f;
    border-radius: .4rem;
    padding: .5rem;
}
.Profile{
    padding:0 .3rem 0 0;
    font-size: .6rem;
    color: #f4d32f;
}
.ParentIcon{
    width: 100%;
    max-width: 768px;
}
.IconDelete{
    width: 2rem;
}
.software{
    font-size: .4rem;
    margin-top: 2rem;
    color: white;
}
.prescription{
    font-size: .4rem;
    margin: 0;
    color: white;
}
.Header{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Menu{
    color: white;
    font-size: .7rem;
}